.header {
    height:100vh;
    background-image: linear-gradient(to right bottom, 
        rgba(138, 138, 138, 0.897),
        rgba(0, 0, 0, 0.8)), 
        url(../img/intro.jpeg);
    background-size: cover;
    background-position: top;
    position: relative;


  
    /*
    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
       
    }
*/
    /************LOGO**********/
    
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

      
}

    
