.contact-localisation {
    text-align: center;
    background-color: rgb(77, 72, 72);
    color: white;
    padding: 1.3rem;

}
.contact-heading-main {
    font-size: 2rem; 
}

.contact-heading-sub {
    margin-right: 8rem;
    font-size: 1rem;
}

.contact-map {
    width: 100%;
}
.icon-basic-geolocalize-01 {
    font-size: 2rem;
    padding-top: 3rem;
}