.section-presentation {
    padding: 4rem 0;
   
}

.section-card {
    padding: 8rem 0;
    
}

.section-card-down {
    padding: 8rem 0;
}

.section-gallery {
    padding: 7rem 0;
}

.section-contact {
    padding: 8rem 0;
}

.section-form {
    padding: 3rem 0;
}